.bg {
  background-image: url("../../Assets/img1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
}

@media(max-width: 768px){
    .bg{
        background-repeat: repeat-x;
    }
}
